<div th:fragment="navbar" id="navbar" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <form th:action="@{/logout}" class="log-in" method="get" sec:authorize="isAuthenticated()">
        <input type="submit" value="Log out">
    </form>

    <form th:action="@{/login}" class="log-in" method="get" sec:authorize="!isAuthenticated()">
        <input type="submit" value="Log in">
    </form>

    <form th:action="@{/}" id="homepage-button" method="get">
        <input type="submit" value="Homepage">
    </form>
</div>